.DS_Store
node_modules
public
prof
tsconfig.tsbuildinfo
.quartz-cache
private/
git ignored folder/
.replit
replit.nix

content/.obsidian/hotkeys.json
content/.obsidian/appearance.json
content/.obsidian/workspace.json
